*.rbc
*.sassc
.sass-cache
.DS_Store
capybara-*.html
.rspec
/.bundle
/db/*.sqlite3
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
pickle-email-*.html
db/test.sqlite3

db/test.sqlite3
