<%= flash_message.html_safe %>

<h2 class="head"><%= yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title" %></h2>

<div id="screen">
  <%= yield %>
</div>